<div id="storeContainer">
    <div class="items">
        {{#each items}}
        <div class="item">
            <div id="trailImgContainer">
                <img id="trailImg" src="img/{{ id }}.png" />
                <div id="purchaseButtonContainer">
                    <button class="purchaseButton" id="{{ id }}" name="inactivated">Use Points</button>
                </div>
            </div>
            <div id="trailDescriptionContainer">
                <h2>{{ name }}</h2>
                <p>{{ description }}</p>
                <p>Cost: {{ cost }} points</p>
                <div id="errorMessage">
                    <p><span id="error {{ id }}"></span></p>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>
